body{
    background-color:skyblue;
}

.container{
    display:flex;
    justify-content:center
}

.main{

display:flex;
 flex-direction:column;
justify-content:center;
align-items:center;
margin-top:50px;
background-color:white;
width:20vw;
gap:10px;
padding:50px;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    
}
.inputs{
    width:20vw;
    height:25px;
    font-size:16px;
    border:none;
    border-bottom: 2px solid grey;
    outline:none;
}
.inputs:focus{
    border-color:skyblue
}
.resetbtn{
    background-color:green;
    border:none;
    color:white;
    padding:8px;
    
    cursor:pointer;
    width:60px;
    font-size:12px;
    font-family:bold;
}
.backbtn{
    background-color:orange;
    border:none;
    color:white;
    padding:8px;
    
    cursor:pointer;
    width:60px;
    font-size:12px;
    font-family:bold;
}


.contact{
    display:flex;
}
#countryCode{
    
    border:none;
    outline:none;
    width:38px;
    background-color:white;
}
/* #phone{
    width:17.5vw;
  

} */
.password-container{
    display:flex;
   
}
.eye{
    width:20px;
    height:20px;
    margin-left:-20px;
    cursor:pointer
}
